---
// main
import Layout from '../layouts/Layout.astro';

// hero
import Hero from '../components/Hero.astro';
import Hero2 from "../components/Hero2.astro";

// css: position fixed
import Header from "../components/Header.astro";
import BottomBar from "../components/BottomBar.astro";

import Showcase from "../components/Showcase.astro";
import ProjectList from "../components/ProjectList.astro";

import Footer from "../components/Footer.astro";
---

<Layout pageName="Home">
    <main>
        
        <Header/>
        <Hero/>
        <Hero2/>

        <Showcase/>
        <ProjectList/>

        <Footer/>
    
        <div class="botbar-container">
            <BottomBar/>
        </div>
        
    </main>
</Layout>

<style>
    main {
        margin: 200px 0 100px 0;
        gap: 200px;
        display: flex;
        flex-direction: column;
    }
    .botbar-container {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 30px 30px 0;
    }
</style>