---
// main
import Layout from '../layouts/Layout.astro';

// hero
import Hero from '../components/Hero.astro';
import Hero2 from "../components/Hero2.astro";

// css: position fixed
import Header from "../components/Header.astro";
import BottomBar from "../components/BottomBar.astro";

import Showcase from "../components/Showcase.astro";
import ProjectList from "../components/ProjectList.astro";

import Footer from "../components/Footer.astro";

import HoverPage from "../components/HoverPage.astro";
---

<Layout pageName="Home">
    <main>
        <!-- css: position fixed -->
        <Header/>
        <BottomBar/>
        
        <Hero/>

        <Showcase/>
        <ProjectList/>

        <!--<HoverPage/>-->
        <Hero2/>
        <Footer/>
    </main>
</Layout>

<style>
    main {
        margin: 200px 0 32px 0;
        gap: 200px;
        display: flex;
        flex-direction: column;
    }
</style>