---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Header from "../components/Header.astro";
import Project from "../components/Showcase.astro";
import BottomBar from "../components/BottomBar.astro";
---

<Layout pageName="Home">
    <Header/>
    
    <Hero/>
    <Project/>

    <div class="botbar-container">
        <BottomBar/>
    </div>
</Layout>

<style>
    .botbar-container {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 30px 30px 0;
    }
</style>