---


---


<div class="media-container">
    <a href="https://www.instagram.com/jkbicierro" target="blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram fa-xl"></i></a>
    <a href="https://discord.gg/wD397DJpVW" target="blank" rel="noopener noreferrer"><i class="fa-brands fa-discord fa-xl"></i></a>
    <a href="https://www.linkedin.com/in/jkbicierro/" target="blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin fa-xl"></i></a>
</div>

<style>
    .media-container {
        display: flex;
        gap: 12px;
        margin-top: 10px;
        
    }
    .media-container i {
        color: var(--s1);
        transition: all 0.3s;
    }
    .media-container i:hover {
        color: var(--s3);
    }
</style>