---
import { Image } from 'astro:assets';
import coffeeImage from "../assets/icons/coffee-cup.png";

---
<main>
    <a href="https://buymeacoffee.com/jkbicierro" target="blank" rel="noopener noreferrer">    
        <div id="container">
            <ul>
                <li>
                    <div id="image-container">
                        <Image 
                            src={coffeeImage}
                            alt="a coffee mug" 
                            width="20",
                            height="20"
                        />
                    </div>
                </li>
                <li><p>Buy me a coffee</p></li>
            </ul>
        </div>
    </a>
</main>


<style>
    main {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 30px 30px 0;
    }
    #container {
        background: linear-gradient(90deg, rgb(252, 193, 66) 0%, rgb(255, 187, 0) 100%);
        border-radius: 12px;
        padding: 10px 15px; 
    }
    #container:hover {
        background: linear-gradient(180deg, rgb(255, 199, 78) 0%, rgb(255, 219, 120) 100%);
    }
    #container:hover #image-container {
        transform: rotate(360deg);
        transition: all 0.5s;
    }
    #container ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    #container ul li p {
        color: var(--dark);
    }
</style>

