---


import Logo from '../components/Logo.astro'
import Media from '../components/interactive/Media.astro' 
---

<main>
    <div class="con">
        <div class="con-head">
            <Logo/>
            <Media/>
        </div>
    
        <div class="con-mid">
            <ul>
                <li><a href="">Services</a></li>
                <li><a href="">Projects</a></li>
            </ul>
        </div>
    
        <div class="con-foot">
            &copy John B
            <span>2024</span>
        </div>
    </div>
</main>


<style>

    main {
        display: flex;
        justify-content: center;
    }
    .con {
        display: flex;
        flex-direction: column;
       
        gap: 20px;
        margin: 0 32px;

        width: 750px;

        background: linear-gradient(350deg, rgba(10,10,10,1) 0%, rgba(30,30,30,1) 100%);
        border: 1px solid var(--s6);
        border-radius: 16px;
        padding: 16px 32px;
    }
    .con-head {
        display: flex;
        width: 100%;

        flex-direction: row;
        justify-content: space-between;
    }
    .con-mid ul {
        display: flex;
        gap: 16px;
    }
    .con-mid ul li a {
        color: var(--s2);
    }
    .con-foot {
        display: flex;
        justify-content: space-between;
        color: var(--s4);
    }
    .con-foot span {
        color: var(--s4);
    }
</style>