---


import Logo from '../components/Logo.astro'
import Media from '../components/interactive/Media.astro' 
---

<main>
    <div class="con">
        <div class="con-head">
            <Logo/>
            <Media/>
        </div>
    
        <div class="con-mid">
            <ul>
                <li><a href="">Services</a></li>
                <li><a href="">Projects</a></li>
            </ul>
        </div>
    
        <div class="con-foot">
            &copy 2024 Jeck
        </div>
    </div>
</main>


<style>

    main {
        display: flex;
        justify-content: center;
    }
    .con {
        display: flex;
        flex-direction: column;
       
        gap: 20px;
        
        width: 1000px;

        border-radius: 16px;
        padding: 16px 32px;
    }
    .con-head {
        display: flex;
        width: 100%;

        flex-direction: row;
        justify-content: space-between;
    }
    .con-mid ul {
        display: flex;
        gap: 16px;
    }
    .con-mid ul li a {
        color: var(--s2);
        text-decoration: underline;
    }
    .con-foot {
        display: flex;
        justify-content: space-between;
        color: var(--s4);
    }
    .con-foot span {
        color: var(--s4);
    }
</style>