---

---
<nav>
    <div class="container">
        <a href=""><span class="profile"></span></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <button>Let's talk</button>
    </div>
</nav>

<div class="nav-moba">
    <i class="fa-solid fa-bars"></i>
</div>

<style>
    nav {
        position: fixed;
        top: 0;
        width: 100%;

        /* Center div */
        display: flex;
        flex-wrap: nowrap; /* It doesn't go down */
        align-items: center;
        justify-content: center;

        padding-top: 16px;
    }
    .container {
        background: rgb(92, 92, 92);
        border-radius: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        padding: 5px;
    }

    .profile {
        display: block;

        height: 35px;
        width: 35px;

        background-color: var(--white);
        border-radius: 50%;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 20px;
        
    }
    ul li a {
        color: var(--light-grey);
    }
    ul li a:hover {
        color: var(--white);
    }
    ul li a:active {
        color: var(--white);
    }

    .container button {
        color: var(--light-grey);
        border: none;
        border-radius: 24px;
        padding: 10px 30px;
        font-family: "Spline Sans", sans-serif;
      
        background-color: var(--grey);
    }
    .container button:hover {
        color: var(--white);
        background-color: var(--dark);
    }
    @media only screen and (max-width: 600px) {
        .container {
            display: none;
        }
    }

    /* Navigation for Mobile Browsers */
    .nav-moba {
        display: absolute;
        padding: 25px;
    }
    @media only screen and (min-width: 601px) {
        .nav-moba {
            display: none;
        }
    }
</style>