---

---
<nav>
    <div class="container">
        <a href=""><span class="profile"></span></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <button>Let's talk</button>
    </div>
</nav>

<div class="nav-moba">
    <i class="fa-solid fa-bars"></i>
</div>

<style>

    nav {
        position: fixed;
        top: 0;
        width: 100%;

        /* Center div */
        display: flex;
        justify-content: center;

        padding-top: 16px;
    }
    .container {
        background: rgb(78, 78, 78, 0.6);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        
        border-radius: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        padding: 5px;
    }
    .profile {
        display: block;

        height: 35px;
        width: 35px;

        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        border-radius: 50%;
    }
    ul {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    ul li a {
        color: var(--light-grey);
    }
    ul li a:hover {
        color: var(--white);
    }

    .container button {
        color: var(--light-grey);
        border: none;
        border-radius: 24px;
        padding: 10px 30px;
        font-family: "Spline Sans", sans-serif;
      
        background: linear-gradient(346deg, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 100%);
    }
    .container button:hover {
        color: var(--white);
        background-color: rgb(43, 42, 42);
    }   
    @media only screen and (max-width: 600px) {
        .container {
            display: none;
        }
    }

    /* Navigation for Mobile Browsers */
    .nav-moba {
        position: fixed;
        top: 0;
        padding: 25px;
    }
    @media only screen and (min-width: 601px) {
        .nav-moba {
            display: none;
        }
    }
</style>