---
// Buttons
import Button from "../components/interactive/Button.astro";
import OutlineButton from "../components/interactive/OutlineButton.astro";
import SolidButton from "../components/interactive/SolidButton.astro";
---

<main>
    <h1>
        I'm <span>John</span>, an Information Technology student at Ateneo de Naga University, specializing in creating <span>innovative</span> and <span>beneficial</span> tech solutions
    </h1>

    <div class="container">
        <OutlineButton name="Hire me for development" link=""/>
        <OutlineButton name="Hire me for design" link=""/>
    </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        margin: 0 30px;
    }
    main h1 {
        text-align: center;
        max-width: 800px;
        line-height: 45px;
        color: var(--s4);
    }
    main span {
        color: var(--s1);
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }
</style>