---
// Buttons
import Button from "../components/interactive/Button.astro";
import SolidButton from "../components/interactive/SolidButton.astro";
import OutlineButton from "../components/interactive/OutlineButton.astro";
import Media from "../components/interactive/Media.astro";
---

<div class="hero-container">
   
    <div class="title-container">
        <h1>john b</h1>
        <div class="badge-container">
            @jkbicierro
        </div>
    </div>
    <p style="color: var(--s2)">Let's explore together</p>
    
    <div class="btn-con">
        <SolidButton name="Get in touch" link="#"/>
        <Button name="View services" link="#"/>
    </div>

    <Media/>
</div>

<style>
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .title-container {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .badge-container {
        border-radius: 16px;
        background-color: var(--s5);
        color: var(--s3);
        padding: 8px;
    }
    .btn-con {
        display: flex;
        align-items: center;
        gap: 12px;
    }
</style>