---


---

<a href="#">
    <span class="profile"></span>
</a>

<style>
    .profile {
        display: block;

        height: 35px;
        width: 35px;

        background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        border-radius: 50%;
    }
</style>