---


---

<div class="container">
    <h2>Explore recent projects</h2>
    <p>Showcasing my works</p>
    <div class="card-container">
        <a href="404"><img src="https://cdn.dribbble.com/userupload/5088928/file/original-9afe1923ce02d6507f058d1a5b129014.png?resize=1024x768" 
            alt=""></a>
        <a href="404"><img src="https://cdn.dribbble.com/userupload/14535006/file/original-8ab1cc408feffbf310a53e9f8396b57a.jpg?resize=1024x768&vertical=center" 
            alt=""></a>
        <a href="404"><img src="https://cdn.dribbble.com/userupload/15526232/file/original-acb3c622ef876668a94f42bebc2de2d4.jpg?resize=1024x768&vertical=center" 
            alt=""></a>
        <a href="404"><img src="https://cdn.dribbble.com/userupload/15500710/file/original-f84691daa0042021f27e3bb7840e99da.jpg?resize=1024x768&vertical=center" 
            alt=""></a>
        <a href="404"><img src="https://cdn.dribbble.com/userupload/15363723/file/original-25fb2ddad53f9c51b963117e4c400660.png?resize=1024x692&vertical=center" 
            alt=""></a>
    </div>

    <a href="404" class="discover">Discover more</a>
</div>

<style>
    p {
        color: var(--light-grey);
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 8px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        gap: 16px;

        margin: 0 230px;
        margin-top: 24px;
    }
    .card-container img {
        width: 350px;
        height: 250px;
        overflow: hidden;
        border-radius: 16px;
        border: 1px solid var(--light-grey);
    }
    .card-container img:hover {
     
        border: 1px solid var(--white);


    }

    .container .discover {
        margin-top: 5px;
        color: blueviolet;
    }
    .container .discover:hover {
        color: red;
        text-decoration: underline;
    }

</style>

