---


---

<div class="container">
    <h2>Explore recent projects</h2>
    <p>Showcasing my works</p>
    <div class="card-container">
        <a href="404"><img src="https://cdn.dribbble.com/userupload/5088928/file/original-9afe1923ce02d6507f058d1a5b129014.png?resize=1024x768" 
            alt=""></a>
        <a href="404"><img src="https://cdn.dribbble.com/userupload/5088928/file/original-9afe1923ce02d6507f058d1a5b129014.png?resize=1024x768" 
            alt=""></a>
        <a href="404"><img src="https://cdn.dribbble.com/userupload/5088928/file/original-9afe1923ce02d6507f058d1a5b129014.png?resize=1024x768" 
            alt=""></a>
        <a href="404"><img src="https://cdn.dribbble.com/userupload/5088928/file/original-9afe1923ce02d6507f058d1a5b129014.png?resize=1024x768" 
            alt=""></a>
        <a href="404"><img src="https://cdn.dribbble.com/userupload/5088928/file/original-9afe1923ce02d6507f058d1a5b129014.png?resize=1024x768" 
            alt=""></a>
    </div>

    <a href="404" class="discover">Discover more</a>
</div>

<style>
    p {
        color: var(--light-grey);
    }
    .container {
       
        padding-bottom: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 8px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        gap: 16px;

        margin: 0 250px;
        margin-top: 24px;
    }
    .card-container img {
        width: 350px;
        border-radius: 16px;
    }

    
    .container .discover {
        margin-top: 5px;
        color:blueviolet;
    }
    .container .discover:hover {
        text-decoration: underline;
    }

</style>

