---
import Header from "../components/Header.astro";

interface Props {
	pageName: string;

}
const { pageName } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageName} - JohnB</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--dark: #09090b; 
		--white: #fafafa;
		--light-grey: rgb(73, 73, 73);
		--grey: #27272a;
	}
	* {
		padding: 0;
        margin: 0;
        text-decoration: none;
        list-style-type: none;
		box-sizing: border-box;
		color: var(--white);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--dark);
		height: 200vh;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
